
    body{
        background-color: bisque;
    }
    hr{background-color:bisque;
        border-style: none;
        border-top-style:dotted;
        border-width:5px;
        width:5%;
    }
    h1,h3{
        color: rgb(155, 105, 115);
    }
img:hover{
zoom:2;
}
